<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
        <servlet>
            <servlet-name>default</servlet-name>
            <servlet-class>
                com.mazeproject.servlets.DefaultServlet
            </servlet-class>
        </servlet>
        <!--        SERVLETS                -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.mazeproject.servlets.Home</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>none</param-value>
                </init-param>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.mazeproject.servlets.Login</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>none</param-value>
                </init-param>
	</servlet>
	<servlet>
		<servlet-name>NewMaze</servlet-name>
		<servlet-class>com.mazeproject.servlets.NewMaze</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>user</param-value>
                </init-param>
	</servlet>
        
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.mazeproject.servlets.Logout</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>user</param-value>
                </init-param>
	</servlet>
        
	<servlet>
		<servlet-name>GetUserData</servlet-name>
		<servlet-class>com.mazeproject.servlets.ajax.GetUserData</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>user</param-value>
                </init-param>
	</servlet>
        
	<servlet>
		<servlet-name>CheckMaze</servlet-name>
		<servlet-class>com.mazeproject.servlets.ajax.CheckMaze</servlet-class>
                <init-param>
                    <param-name>securityLevel</param-name>
                    <param-value>user</param-value>
                </init-param>
	</servlet>
        <!--        SERVLETS                -->
        
        <!--        SERVLETS MAPPING        -->
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
        
	<servlet-mapping>
		<servlet-name>NewMaze</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
        
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
        
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
        
	<servlet-mapping>
		<servlet-name>GetUserData</servlet-name>
		<url-pattern>/getUserData</url-pattern>
	</servlet-mapping>
        
	<servlet-mapping>
		<servlet-name>CheckMaze</servlet-name>
		<url-pattern>/checkMaze</url-pattern>
	</servlet-mapping>
        
        <servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>*.html</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>*.css</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>default</servlet-name>
            <url-pattern>*.js</url-pattern>
        </servlet-mapping>
        <!--        SERVLETS MAPPING        -->
        
</web-app>
